[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "randtests"]
	path = randtests
	url = https://github.com/cran/randtests
	shallow = true
	registered = true
